@import 'nib'
@import 'variables.styl'

.feature-section
    max-width 550px
    margin 0 auto
    white-space pre
    padding 0 10px

.feature-headline
    font-family 'Russo One', sans-serif
    font-size 8em
    text-align center

.feature-image
    display block
    margin 0 auto
    max-width 80%
    height auto
    filter grayscale(90%)

@media (max-width: 800px)
    .feature-headline
        font-size 4em