.odds
  .team
    font-size 10px
    display flex
    padding 5px
    &:nth-child(odd)
      background-color #dadada
    .name
    .moneyline
      flex 1
      flex-wrap nowrap
    .moneyline
      text-align right

.odds-heading
  margin-top 25px
