#trape-level
    border-top 1px solid $border
    border-bottom 1px solid $border
    padding 10px 0
    text-align center
    text-transform uppercase
    margin-bottom 10px
    h2
        font-size 1.3em
        margin-bottom 10px
    .tips
        text-transform initial
        margin 15px 0
        font-weight 700
        font-size .75rem
        line-height .875rem
        a
            padding-left 5px
    .level
        padding 10px
        border-style ridge
    .title
        color white
        text-shadow 1px 1px 2px black
    .sub-title
        font-size 0.5em
        font-weight 600
    .yellow
        background-color yellow
    .blue
        background-color #3566CD
    .red
        background-color red
