.loading
    text-align center
    padding 25px

.projections
    font-weight 700
    border-top 4px solid $border
    margin-top 25px
    padding-top 25px
    > div
        width 50%
        display inline-block
        vertical-align top
    small
        font-family "DecimaMonoPro",monospace
        padding-left 5px
        color #b2b2b2
        font-size 0.8em

@media (max-width: 800px)
    .projections > div
        display block
        width 100%
