doctype html
html
    head
        title.
            The Trash Zone
        meta(name='description', content='All the trash thats fit to stash')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
        link(rel='stylesheet', href='app.css', inline='true')
        link(href="https://fonts.googleapis.com/css?family=Archivo+Narrow|IM+Fell+English|Old+Standard+TT|Philosopher|Raleway|Russo+One", rel="stylesheet")
        link(rel="apple-touch-icon-precomposed", sizes="57x57", href="apple-touch-icon-57x57.png")
        link(rel="apple-touch-icon-precomposed", sizes="114x114", href="apple-touch-icon-114x114.png")
        link(rel="apple-touch-icon-precomposed", sizes="72x72", href="apple-touch-icon-72x72.png")
        link(rel="apple-touch-icon-precomposed", sizes="144x144", href="apple-touch-icon-144x144.png")
        link(rel="apple-touch-icon-precomposed", sizes="60x60", href="apple-touch-icon-60x60.png")
        link(rel="apple-touch-icon-precomposed", sizes="120x120", href="apple-touch-icon-120x120.png")
        link(rel="apple-touch-icon-precomposed", sizes="76x76", href="apple-touch-icon-76x76.png")
        link(rel="apple-touch-icon-precomposed", sizes="152x152", href="apple-touch-icon-152x152.png")
        link(rel="icon" type="image/png", href="favicon-196x196.png", sizes="196x196")
        link(rel="icon" type="image/png", href="favicon-96x96.png", sizes="96x96")
        link(rel="icon" type="image/png", href="favicon-32x32.png", sizes="32x32")
        link(rel="icon" type="image/png", href="favicon-16x16.png", sizes="16x16")
        link(rel="icon" type="image/png", href="favicon-128.png", sizes="128x128")
        meta(name="application-name", content="&nbsp;")
        meta(name="msapplication-TileColor", content="#FFFFFF")
        meta(name="msapplication-TileImage", content="mstile-144x144.png")
        meta(name="msapplication-square70x70logo", content="mstile-70x70.png")
        meta(name="msapplication-square150x150logo", content="mstile-150x150.png")
        meta(name="msapplication-wide310x150logo", content="mstile-310x150.png")
        meta(name="msapplication-square310x310logo", content="mstile-310x310.png")        
    body
        header
            img#title(src='/logo.png')
            #tagline "All the trash that's fit to stash"
            .left-header
                #date
                #current-week
            .right-header
                #contact
                    | Contribute:
                    a(href="mailto:trashzone@gmail.com") trashzone@gmail.com
        main
            section.ab-section
                section.a-section
                    h1 Bearly Awake almost ready for winter hibernation
                    small presented by Ringle Bingle: first you Ringle, then you Bingle!                    
                    p
                        | Sitting at 1-5 and with a matchup against Trashman Industries (5-1), Bearly Awake stays true to its namesake. Brendan Haggerty, a notorious napper and ex-Sleeper, appears to be preparing for a long winter hibernation with playoff odds of just 2%.
                    p
                        | Bearly Awake has taken a near perfect bee line to hibernation from the start of the season. Their only win comes Week 1 as he was unable to out sleep his ex-teamate and former Sleeper, Brian Feldman of Long S. Napper.

                    p
                        | As the name suggests, Brandon Haggerty is bearly awake. "I wouldn't count him out" says a representative from Trashman Industires. After this week, their remaining schedule includes teams at or below 500.
                    
                    h3 Early-Week Waiver Report
                    p
                        | Week 7 was yet another busy week with a total of 11 successful claims, tied for third busiest waiver day thus far. Womb Goof spent a total of $91 on the eve of good news about Ezekiel Elliots' suspension. A strange move given the good news and lack of need for 2 RBs and a WR. Some speculate that he may have been so excited that he forgot to cancel his waiver claims. Gillislegally Brown had the most efficient claim, beating out ISC by $1 for Chris Ivory.
                    h3 Early-Week Matchup Preview
                    p
                        | One of the more interesting matchups to keep an eye on this week is Womb Goof at Brooklyn Dodgers. Womb Goof owner Stephen London has never beaten Brooklyn Dodgers owner Greg McGinniss.
                    p
                        | At the halfway mark of the season, Crow-lin Powell and Caffreine Free will try to keep their playoff hopes alive in what may prove to be a pivotal game for both teams. A loss for Caffreine Free will bring him nearly to the brink.
                section.b-section
                    img(src='/classified.png')
                    h2 Trashman Industires Blockade of Gillislegally Brown uncovered
                    p
                        | The Trash Zone obtained a confidential memo on Thursday highlighting a Trashman Industries directive to block Gillislegally Brown. Anonymous sources claim there's much more to the program and that Trashman Industries has an "extensive program of hybrid warfare" directed at Gillislegally Brown.
                    p
                        | Gillislegally Brown has a matchup this week with Sarah London's Disapproval whose trade with Trashman Industries was part of a "Blockade program." At the time of the trade, Trashman Industries was advised against the trade by a close ally. The trade appears to have strained that relationship. The ally, who wishes to remain anonymous, pleaded with the Trashman to "force them to stream" and warned him that this trade "may be your undoing in the playoffs." In light of this confidential memo, the trade appears to have furthered Trashman Industries interests on many fronts and was not simply about improving their roster. Although, it is too early to tell whether or not this trade and program will be effective.
                    p
                        | We have been unable to confirm many of the claims put forth by our source and Trashman Industries declined to comment on the report saying that they do not comment on classified material.
                    #matchups
                        h1 This Weeks Matchups
            section.side-section
                #drops
                    h4 Trash
                    ul.side-news
                #adds
                    h4 Recycled
                    ul.side-news
                #nfl-news
                    h4 NFL Beat
                    ul.side-news
                #player-news
                    h4 Player Beat
                    ul.side-news
                #trape-level
                    h2 Trape Threat Level
                    .level.red
                        .title Severe
                        .sub-title severe risk of trape attacks
                    p.tips
                        | If you see something, say something:
                        a(href="mailto:ithinkhestraping@gmail.com") ithinkhestraping@gmail.com
                #standings
                    h4 Standings
                    ol.side-news
                #most-points
                    h4 Point Leaders
                    ol.side-news
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js')
    script(src='vendor.js?__inline=true')
    script(src='app.js?__inline=true')