doctype html
html
    head
        title.
            The Trash Zone
        meta(name='description', content='All the trash thats fit to stash')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
        link(rel='stylesheet', href='app.css', inline='true')
        link(href="https://fonts.googleapis.com/css?family=Archivo+Narrow|IM+Fell+English|Old+Standard+TT|Philosopher|Raleway|Russo+One", rel="stylesheet")
        link(rel="apple-touch-icon-precomposed", sizes="57x57", href="apple-touch-icon-57x57.png")
        link(rel="apple-touch-icon-precomposed", sizes="114x114", href="apple-touch-icon-114x114.png")
        link(rel="apple-touch-icon-precomposed", sizes="72x72", href="apple-touch-icon-72x72.png")
        link(rel="apple-touch-icon-precomposed", sizes="144x144", href="apple-touch-icon-144x144.png")
        link(rel="apple-touch-icon-precomposed", sizes="60x60", href="apple-touch-icon-60x60.png")
        link(rel="apple-touch-icon-precomposed", sizes="120x120", href="apple-touch-icon-120x120.png")
        link(rel="apple-touch-icon-precomposed", sizes="76x76", href="apple-touch-icon-76x76.png")
        link(rel="apple-touch-icon-precomposed", sizes="152x152", href="apple-touch-icon-152x152.png")
        link(rel="icon" type="image/png", href="favicon-196x196.png", sizes="196x196")
        link(rel="icon" type="image/png", href="favicon-96x96.png", sizes="96x96")
        link(rel="icon" type="image/png", href="favicon-32x32.png", sizes="32x32")
        link(rel="icon" type="image/png", href="favicon-16x16.png", sizes="16x16")
        link(rel="icon" type="image/png", href="favicon-128.png", sizes="128x128")
        meta(name="application-name", content="&nbsp;")
        meta(name="msapplication-TileColor", content="#FFFFFF")
        meta(name="msapplication-TileImage", content="mstile-144x144.png")
        meta(name="msapplication-square70x70logo", content="mstile-70x70.png")
        meta(name="msapplication-square150x150logo", content="mstile-150x150.png")
        meta(name="msapplication-wide310x150logo", content="mstile-310x150.png")
        meta(name="msapplication-square310x310logo", content="mstile-310x310.png")        
    body
        header
            img#title(src='/logo.png')
            #tagline "All the trash that's fit to stash"
            .left-header
                #date
                #current-week
            .right-header
                #contact
                    | Contribute:
                    a(href="mailto:trashzone@gmail.com") trashzone@gmail.com
        main
            section.ab-section
                section.a-section
                    h1 "THE CARR HAS NO DRIVER AND THE COOK COOKS NO MORE"
                    small Mystery Surrounds Missing Owner
                    p
                        | The police have raised the trape threat to “Severe,” following the delivery of a mysterious telegram last night: “THE CARR HAS NO DRIVER AND THE COOK COOKS NO MORE.”
                    p
                        | According to a police spokesperson, the anonymous message pertains to an ongoing investigation into the disappearance of team owner Corey Hawk.
                    p
                        | “We fear the worst," the spokesperson said. “Carr and Cook were Caffreine Free’s only hopes following a singularly disastrous draft. Whether Hawk’s disappearance is of his own accord or against his will, we fear these injuries leave him vulnerable to trape.”
                    p
                        | The well-respected owner and perennial contender has acted erratically this season on his way to a 1-3 record, bungling his auction budget, and, in an act of sheer delirium, spending $40 on James White, who was later dropped. 
                    p
                        | Hawk was last seen spending $120 on Tarik Cohen and Kenny Golladay, who have since combined for 23.1 points. 
                    p
                        | We will update this story as more information from the investigation becomes public.
                    h3 Waiver Report
                    p
                        | Owners had a good week on the wire streaming defenses with Bob Evans, Sarah London's Disapproval, and ISC all netting a defense with 6 or more points. Bearly Awake had the top two waiver pickups. His top pick, Wendell Smallwood, finished with 13.9 points but that good news was offset by Sanu, his other top pick, leaving the game early with an injury. All in all, Bearly Awake should be pretty happy with his waiver decisions, especially at the price point of just $15. The most controversial pickup of the week has to be Jameis Winston going to a team that already rostered two QBs. Trashman Industries offered a simple explanation: trash is trash. With 21 QBs currently rostered and Week 5 byes about to begin, one has to wonder how this story will end.
                section.b-section
                    img(src='/week1-cartoon.png')
                    h1 Monday Night Miracle Drama Watch
                    small presented by Ringle Bingle: first you Ringle, then you Bingle!
                    p
                        | Four games (technically) remain in doubt tonight. First, Crow-lin Powell hopes to repeat its week 3 Miller Thriller© performance against Todd; they'll need Travis Kelce to outscore Chris Thompson and Jordan Reed by 1.5 points. Trashman Industries needs a combined 12.1 from Kareem Hunt and Tyreek Hill to convert Long S. Napper's dream to a nightmare. Meanwhile, from the not gonna actually happen department: Gillislegally Brown needs a casual 30.2 from Dustin Hopkins to end Greg Zuerlein's reign among kicker legends and defeat the Brooklyn Dodgers. Finally, Caffreine Free needs the Chiefs D to outscore Captain Kirk by 15.8 to take down the ISC. This has been your Monday Night Miracle Drama Watch for Week 4, enjoy the Skins and the fantasy drama from lovely Kansas City
                    #matchups
                        h1 This Weeks Matchups
                    h3 Is Trash The New Avocado Toast?
                    p
                        | Teflon has a trash problem -- and the only cure is more trash, according to a handful of millennials who abandoned their upscale apartments in gentrifying neighborhoods of New York City and Washington, D.C. for the flaming heaps of garbage accumulating atop the league standings.
                    p
                        | "Poop, LaCroix cans, pickle jars filled with weeks-old linguini," said Kia Rahimian, a 28-year-old trashman who leads the league in scoring by a wide margin, but suffered his first loss of the season to a rival trashman from Brooklyn. "One man's trash is another man's champion."
                    p
                        | League observers in San Francisco praise the intention of their East Coast cohorts, but doubt the results can last much longer. "As our world is crushed under the weight of its own carbon footprint, we support any effort that moves the needle on sustainability," said a spokesman for the Ivy Saliva Clan, an energy startup trying to fuel championships with tried-and-true star power. "But study after study has shown that the undeniable output of players like Devonta Freeman, Kirk Cousins and Brandon Cooks is the only way to win in the long run."
            section.side-section
                #drops
                    h4 Trash
                    ul.side-news
                #adds
                    h4 Recycled
                    ul.side-news
                #nfl-news
                    h4 NFL Beat
                    ul.side-news
                #player-news
                    h4 Player Beat
                    ul.side-news
                #trape-level
                    h2 Trape Threat Level
                    .level.red
                        .title Severe
                        .sub-title severe risk of trape attacks
                    p.tips
                        | If you see something, say something:
                        a(href="mailto:ithinkhestraping@gmail.com") ithinkhestraping@gmail.com
                #standings
                    h4 Standings
                    ol.side-news
                #most-points
                    h4 Point Leaders
                    ol.side-news
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js')
    script(src='vendor.js?__inline=true')
    script(src='app.js?__inline=true')