@import 'nib'
@import 'variables.styl'

main
    max-width 970px
    margin 0 auto

section
    img
        height auto
        width 100%
        filter grayscale(80%)

.ab-section
    float left
    width 67%
    margin-bottom 10px

.a-section
    float left
    width 30%
    margin-right 3%

.b-section
    width 65%
    margin-right 2%
    float left

.side-section
    float right
    width 31%
    padding-left 1.5%
    border-left 1px solid $section-border

.side-news
    font-size 0.75rem
    line-height 0.875rem
    font-weight 700

#drops
#adds
    display inline-block
    vertical-align top
    width 100%
    ul
        list-style none
        padding-left 6%

@media (max-width: 800px)
    .ab-section
    .a-section
    .b-section
    .side-section
        width 100%