@import 'nib'
@import 'variables.styl'

main
    width 970px
    margin 0 auto

.main-section
    float left
    width 500px

.side-section
    float right
    width 375px
    padding-left 15px
    margin-top 10px
    border-left 1px solid $section-border

.side-news
    font-size 0.75rem
    line-height 0.875rem
    font-weight 700

#drops
#adds
    display inline-block
    ul
        list-style none