@import 'nib'
@import 'variables.styl'

h1
h2
h3
h4
h5
    text-transform uppercase

h1
    font-family 'Philosopher', sans-serif    

h2
    font-family 'IM Fell English', serif

h3
    font-family 'Archivo Narrow', sans-serif

h4    
    font-family 'Raleway', sans-serif

h5
    font-family 'Russo One', sans-serif

p
.text
    font-family 'Old Standard TT', sans-serif