@import 'nib'
@import 'variables.styl'

.feature-section
    max-width 550px
    margin 0 auto
    white-space pre

.feature-headline
    font-family 'Russo One', sans-serif
    font-size 8em
    text-align center