doctype html
html
  head
    title.
      Auction Draft Analysis - The Trash Zone
    include ../../shared/html/head.jade
  body
    include ../../shared/html/header.jade
    main
      section
        table.drafted
          thead
            tr
              td(colspan="100%") Auction Analysis
          tbody
        #tables
        .list.qb
        .list.rb
        .list.wr
        .list.te
        .list.k
        .list.dst
        #undrafted
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js')
    script(src='vendor.js?__inline=true')
    script(src='app.js?__inline=true')
