@import 'nib'
@import 'variables.styl'

.chart
  height 200px
  width 100%

.heading
  width 100%
  background #e0e0e0
  border-bottom 1px solid #cdcdcd
  display flex
  flex-direction row

.stat-container
  display flex
  flex-direction row
  flex-wrap nowrap
  flex 3

.stat
  text-transform uppercase
  font-size 0.5em
  vertical-align bottom
  border-left 1px solid #222
  font-family "DecimaMonoPro",monospace
  text-align center
  width 65px
  flex 1
  font-size 16px

.stat-heading
  border-bottom 1px solid #cdcdcd
  font-size 9px
  min-height 22px
  display table
  width 100%
  text-align center
  span
    display table-cell
    vertical-align middle

.stat-value
  padding 8px 0

.team-name
  padding 5px
  min-width 85px
  font-size 20px
  flex 4
  display flex
  align-items center
  span
    display table-cell
    vertical-align middle

@media (max-width: 800px)
  .heading
    flex-direction column
  .team-name
    font-size 14px
    padding 10px 0
    border-bottom 1px solid #cdcdcd
  .stat:first-child
    border-left none
