@import 'nib'
@import 'variables.styl'

h1
h2
h3
h4
h5
    text-transform uppercase
    margin 0

h1
    font-family 'Philosopher', sans-serif

h2
    font-family 'Russo One', sans-serif

h3
    font-family 'Archivo Narrow', sans-serif

h4
    font-family 'Raleway', sans-serif

h5
    font-family 'IM Fell English', serif

p
.text
    font-family 'Old Standard TT', sans-serif

small
    font-family "DecimaMonoPro",monospace
    padding-left 5px
    color #b2b2b2
    font-size 0.8em
