doctype html
html
  head
    title.
      All Time League Stats - The Trash Zone
    include ../../shared/html/head.jade
  body
    include ../../shared/html/header.jade
    main
      section
        table.overall
          thead
            tr
              td(colspan="100%") Overall Stats
            tr
              td Team
              td Seasons
              td Chmps
              td Win PCT
              td Wins
              td Losses
              td Games
              td Points AVG
              td Points Total
          tbody
        table.seasons
          thead
            tr
              td(colspan="100%") Season Stats
            tr
              td Team
              td Games
              td Win PCT
              td Wins
              td Losses
              td Points AVG
              td Points Total
          tbody
        table.playoffs
          thead
            tr
              td(colspan="100%") Playoff Stats
            tr
              td Team
              td Appearances
              td App PCT
              td Games
              td Win PCT
              td Wins
              td Losses
              td Points AVG
              td Points Total
          tbody
        table.championships
          thead
            tr
              td(colspan="100%") Championship Stats
            tr
              td Team
              td Appearances
              td App PCT
              td Win PCT
              td Wins
              td Losses
              td Points AVG
              td Points Total
          tbody
        h3 Overall Records
        .record.overall
        br
        h3 Season Records
        .record.season
        br
        h3 Playoff Records
        .record.playoff
        br
        h3 Championship Records
        .record.championship
        br
        br
        h2 Records By Opponent
        br
        div.opponents
  script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js')
  script(src='vendor.js?__inline=true')
  script(src='app.js?__inline=true')
