header
  img#title(src='/logo.png')
  #tagline "All the trash that's fit to stash"
  .left-header
    #date
    #current-week
  .right-header
  #menu
    a(href='/') Home
    a(href='/rankings') Rankings
    a(href='/odds') Scoreboard
    a(href='/draft') Draft
    a(href='/league') League Stats
