.game
    width 47%
    padding 1.5%
    display inline-block

table
    border-collapse collapse
    border-spacing 0
    width 100%
    margin-bottom 35px

    thead
        text-transform uppercase
        font-size 0.5em
        vertical-align bottom
        text-align center
        td
            background #e0e0e0
            font-weight 700

    tr
        border-bottom 1px solid #cdcdcd

    td
        padding 3px 7px 2px 5px
        vertical-align middle
        height 34px

    .score
    .proj
        border-left 1px solid #222

    .stat
        font-family "DecimaMonoPro",monospace
        text-align center

    .proj
        width 60px

    tbody .score
        background #e0e0e0

    .team
        min-width 85px

    .logo
        background-size cover
        background-position center
        border-radius 50%
        width 28px
        height 28px

@media (max-width: 800px)
    .game
        width 100%
        padding 0
        padding-bottom 15px
