.chart
  height 150px
  width 100%

table
  border-collapse collapse
  border-spacing 0
  margin 0 auto
  width 100%
  border-top 1px solid #ccc

  thead
    text-transform uppercase
    font-size 0.5em
    vertical-align bottom
    text-align center

  tr
    &:first-child
      border-bottom 1px solid #cdcdcd
      .team
        background-color rgba(60,184,82,0.15)
    .team
      padding 5px
      background-color rgba(240,91,79,0.15)
  td
    vertical-align middle

  .score
  .proj
    border-left 1px solid #222

  .prob
  .score
  .proj
    font-family "DecimaMonoPro",monospace
    width 50px
    text-align center

  .proj
    width 60px

  tbody .score
    background #e0e0e0

  .team
    padding 5px

  .logo
    background-size cover
    background-position center
    border-radius 50%
    width 28px
    height 28px
